@using Resources

<div class="row">
    <div class="col-md-12">
        <div class="grid simple no-padding">
            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border">              
                    <div class="col-md-3">
                        <div>
                            <select id="Employee" name="Employee" class="form-control"></select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>